#chbg-wrap{
    position:relative;
    width:100%;
    background:var(--_bg);
    transition:background .3s linear;
}
.chbg{
    position:relative;
    width:100%;
    height:100vh;
    border:1px dotted #000;
}
.chbg article{
    display:flex;
    justify-content:flex-start; align-items:flex-start;
    position:relative;
    width:100%;
    height:100%;
    padding:5vw;
    margin:0 auto;
    font-size:5vw;
}
.cgbgvideo{
    display:none;
    display:flex;
    justify-content:center; align-items:center;
    position:absolute;
    top:5vw;right:0;
    width:50vh; aspect-ratio:1/1;
    background:#000;
    border:1px solid #fff;
    font-size:2vw;
    color:#fff;
}
.cgbgvideo.fixed{
    position:fixed;
}